body {
    color: #333;
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: solid 1px #ddd;
    margin: auto;
}

#container h1 {
    font-size: 20px;
}

#content {
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
    font-style: italic;
    font-size: 0.8rem;

}