body {
    color: #333;
    text-align: center;
    font-family: helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#header {
    background-color: cornflowerblue;
    box-shadow: 0px 2px 20px 0px  rgba(70, 70, 209, 0.5);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 0.6rem;
}

#tagline {
    padding-left: 0.5rem;
    font-weight: 100;
    font-size: 0.6rem;
}

#container {
    width: 70%;
    /* padding: 1rem; */
    text-align: left;
    border: solid 1px #ddd;
    margin: auto;
}

#container h1 {
    font-size: 24px;
    margin-top: 1.5rem;
    
}

p {
    margin-top: -0.5rem;
}

#content {
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
    font-style: italic;
    font-size: 0.8rem;

}

#content, h1, p {
    padding:0.3rem 1rem;
}

#footer {

    background-color: cornflowerblue;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

#logo {
    width:35px;
    vertical-align:middle;
    padding-right:0.5rem;
}